*{
  margin: 0px;
  padding: 0px;
  
}

.video-container{
  width: 100%;
  height: 360px;
  display: flex;
  border: 1px solid gray;
}


#notes-container{
  width: 50%;
  height: 360px;
  overflow: scroll;
}

#quill-container{
  border: 2px solid gray;
  height: 300px;
  /*display: none; */
  display: block;
}

.editor-btn-container{
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}

.editor-btn{
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #bbb6b6;
  font-size: 0.9rem;
  border: 1px solid black;
}

#video-url-input{
  width: 40%;
  margin: 10px;
  line-height: 1.5rem;
}

.message-alert{
  color: green;
  margin: 10px;
  padding-left: 20px;
  font-display: bold;
  font-size: 1.2em;
  display: block;
  height: 2em;
}